<template>
  <require from="blur-image"></require>

  <section class="au-animate">
    <h2>${heading}</h2>
    <div class="row au-stagger">
      <div class="col-sm-6 col-md-3 card-container au-animate" repeat.for="user of users">
        <div class="card">
          <canvas class="header-bg" width="250" height="70" blur-image.bind="image"></canvas>
          <div class="avatar">
            <img src.bind="user.avatar_url" crossorigin ref="image"/>
          </div>
          <div class="content">
            <!-- Aurelia doesn't leave any bind expression in dom for string interpolation -->
            <!-- therefore add e2e class to indicate this is an element referenced by e2e test -->
            <p class="name e2e-user-name">${user.login}</p>
            <p><a target="_blank" class="btn btn-default" href.bind="user.html_url">Contact</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
