<template>
  <require from="./date-format"></require>

  <section class="au-animate">
    <h2>${heading}</h2>
    <form role="form" submit.delegate="submit()">
      <div class="form-group">
        <label for="fn">First Name</label>
        <input type="text" value.bind="firstName" class="form-control" id="fn" placeholder="first name">
      </div>
      <div class="form-group">
        <label for="ln">Last Name</label>
        <input type="text" value.bind="lastName" class="form-control" id="ln" placeholder="last name">
      </div>
      <div class="form-group">
        <label for"pet">Pet</label>
        <select value.bind="favPet" class="form-control">
          <option>Select A Pet</option>
          <option repeat.for="pet of pets" value.bind="pet">${pet}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Full Name</label>
        <p class="help-block e2e-form-message">${fullName | upper} has a ${favPet | upper}</p>
      </div>

      <!-- birthday -->
      <div class="form-group">
        <label for="bd">Birthday</label>
        <input type="date" value.bind="birthday" class="form-control" id="bd" placeholder="birthday">
      </div>
      <div class="form-group">
        <label>Your bdaye</label>
        <p class="help-block">${birthday | dateFormat}</p>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <!-- To test click.trigger e2e binding -->
      <button click.trigger="doSomething()" class="btn btn-default">Show Something</button>
    </form>
    <div show.bind="showSomething" class="show-something">Woo Hoo</div>
  </section>
</template>
